html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(244, 228, 196);
}

.banner {
  background-image: url("https://img.freepik.com/free-vector/gradient-mountain-landscape_23-2149159772.jpg?w=1380&t=st=1681018910~exp=1681019510~hmac=4eb0d5de2a08bec432db5d699b4eeeaf77280b5c9155794d1e0bd6a3fddbc5a1");
  background-size: cover;
  background-position: center bottom;
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-content {
  text-align: center;
  margin-right: 40px;
}

.banner-title {
  font-size: 4em;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
  background-color: transparent;
} 

.banner-image {
  position: absolute;
  height: 300px;
  left: 0;
  transform: scaleX(-1);
}

.banner-image img {
  height: 100%;
} 

.banner-search-form {
  display: flex;
  justify-content: right;
  align-items: right;
  margin-top: 20px;
}

.banner-search-form input[type="text"] {
  padding: 2px;
  font-size: 1em;
  text-align: center;
  width: 200px;
  border-radius: 10px;
  border: none;
  margin-right: 5px;
}

.banner-search-form button {
  border-radius: 10px;
} */


.content-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  margin-bottom: 50px;
}

.content {
  padding: 20px;
  text-align: center;
}

.container {
  margin-top: 50px;
  /* margin-right: 20px; */
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-box {
  position: absolute;
  left: 250px;
  top: 40%;
  transform: translateY(-50%);
  background-color: lightsalmon;
  color: white;
  padding: 20px 20px;
  text-align: center;
}

.arrow {
  position: absolute;
  top: 50%;
  right: -70px;
  margin-top: -70px;
  border-top: 70px solid transparent;
  border-bottom: 70px solid transparent;
  border-left: 70px solid lightsalmon;
  z-index: 9999; /* Add a higher z-index value */
}

.text {
font-family: Verdana, Geneva, Tahoma, sans-serif;
position: relative;
z-index: 1;
white-space: pre-line; 
line-height: 1.2; 
} 

.container {
max-width: 700px;
}

.container {
  color: rgb(2, 23, 2);
}
.bg-lightgreen {
background-color: #C3E6CB; 
}

.container {
min-height: 60%;
position: relative;
padding-bottom: 100px; 
}

.start-button {
justify-content: flex-end;
}

.btn.btn-secondary {
height: 45px;
width: 150px;
align-items: right;
justify-content: flex-end;

}

a.btn.btn-secondary {
font-size: 120%;
align-content: center;
}

.col-md-3 {
  height: 300px;
}

.col-md-3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.map-text {
font-size: 24px;
font-weight: bold;
text-align: center;
padding: 20px;
border-radius: 10px;
}

#map {
height: 75%;
width: 80%;
margin: 10px auto;
}

.submit-button {
  text-align: right;

}  

.submit-button a {
padding: 10px 20px;
font-size: 1.2rem;
border-radius: 10px;
background-color: #063c13;
color: #fff;
display: inline-block;
width: auto;
}

.submit-button a:hover {
background-color: #4a299d;
color: #fff;
}

.categories-text {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin-bottom: 20px;
}

.img-fluid.rounded {
  border: none;
  transition: border ease-in-out;
}

.img-fluid.rounded:hover {
  border: 5px solid rgb(3, 51, 3);
}

.col-md-3 {
  margin: 20px;
  padding: 10px;
}    

.col-md-3 img {
  height: 300px;
  width: 500px;
} 


.row {
  display: flex;
  justify-content: center;
}

.text-white {
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
  background-color: #063c13;
  border-radius: 70px;
}

.text-grey {
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
  background-color: #4f4e62;
  border-radius: 70px;
}
.col-md-2 {
  margin: 20px;
  padding: 10px;
}    

h2 {
  text-align: center;
  margin: 20px;
}


.banner-title {
  justify-content: center;
}

.banner-search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.banner-search-form input[type="text"] {
  font-size: 0.8em;
  text-align: center;
  /* border-radius: 25px; */
  padding: 5px;
  border: none;
  background-color: #fcfa8b;
  box-shadow: 0px 2px 5px #ccc;
}

.banner-search-form button {
  font-size: 0.8em;
  width: 75px;
  padding: 5px;
  border: none;
  background-color: #a89205;
  color: white;
  cursor: pointer;
  box-shadow: 0px 2px 5px #ccc;
}


.banner-search-form button:hover {
  background-color: #6d6c64;
}

.card {
  max-width: 600px;
  margin: auto;
  border-radius: 4px;
  background-color: #fff;
}

.card-header {
  background-color: #ff4500;
  color: #fff;
  padding: 12px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.card-header .card-title {
  font-size: 20px;
}

.card-body {
  padding: 12px;
}

.card-body p {
  margin: 0;
  font-size: 16px;
}

.card-body img {
  max-width: 100%;
  margin-top: 12px;
}

.card-footer {
  background-color: #f5f5f5;
  padding: 12px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.card-info {
  font-size: 14px;
  margin-right: 12px;
  color: #777;
}

@media (max-width: 1200px) {
  .arrow-box {
    display: none;
  }
}
@media (max-width: 1300px) {
  .banner {
    display: none;
    background-color: none;
  }
}

@media screen and (max-width: 576px) {
  .submit-button {
    text-align: center;
  }
  .col-md-3 img {
    align-content: center;
  }
}


.footer {
}
